@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');
h1,h2{
    font-family: 'Merriweather', serif;
}

/* <aside> Tag */
aside{
    color: yellowgreen;
    float: right;
    display:inline;
    padding: 5px;
    background-color: black;
}

hr#aside{
    border-bottom: 1px solid;
}

table,td,th{
    border: 1px solid;
    border-color: black;
}

.myDiv{
    color:teal;
}